{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>
            <img Align="bottom" src="{% static 'images/optum.png' %}" >
             Network and Security Internet Services(NSIS) - Metrics Portal</h2>
        <hr color="orange">
    <h3 text-color="black"> Reports (Problem Mgmt) </h3>
    <a href="{%url 'home'%}"">
        <div class="b">
            Home
        </div>
        </a>
    <div class="g">
        
        <div class="v">
            <h4 > Tile 4 </h4>
        </div>
  
            <div class="v">
                <h4> Tile 5 </h4>
            </div>
            
                <div class="v">
                    <h4> Tile 6 </h4>
                </div>
                
            </div>
            </header>
            <div class="footer">  
                <hr>
                <p>© Optum 2022 , Inc. All rights reserved</p>   
                </div>
</body>
</html>